{
  "name": "{{projectName}}",
  "version": "1.0.0",
  "description": "Telegram Bot created with Zecoryx CLI",
  "main": "src/bot.js",
  "type": "module",
  "scripts": {
    "start": "node src/bot.js",
    "dev": "nodemon src/bot.js"
  },
  "dependencies": {
    "telegraf": "^4.16.3",
    "dotenv": "^16.4.5"
  },
  "devDependencies": {
    "nodemon": "^3.1.0"
  }
}
